<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='interviewexp.css') }}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"> 
    <title>Nyghtify</title>
</head>
<body>
   <div>
    <img  src="/static/logo.png" alt="logo"/>
</div>

<header>
    
      <h1 class="logo"></h1>

      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/intexp">Interview Experience</a></li>
          <li><a href="#">Hiring Now</a></li>
          <li><a href="#">How they hire</a></li>
          <li><a href="#">User Account</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>
    

</body>
</html>